<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Client.Settings>
            <setting name="IsDevelopmentProduction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevelopmentUrl" serializeAs="String">
                <value>https://localhost:7121/api/</value>
            </setting>
            <setting name="ProductionUrl" serializeAs="String">
                <value />
            </setting>
        </Client.Settings>
    </userSettings>
</configuration>